body{
    /* display: flex; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  ul{
    list-style: none;
  }

  body {
    font-family: "Lato", sans-serif;
  }
  .top_navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0A2239;
    box-shadow: 1px 0 2px rgba(0,0,0,0.125);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .top_navbar .menu{
    width: calc(100% - 250px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top_navbar .hamburger{
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .top_navbar .hamburger:hover{
    color: #007dc3;
  }
  .menu h3 {
  
    padding-left:10px ;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
  
    }
    
    .menu span{
    color: #1DC4E7;
    }
  
    .logout_btn {
    
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-radius: 2px; */
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    }
    
    .logout_btn:hover {
      background: #0d9dbb;
    
    }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 0;
    background-color: #0f3457;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar h4{
      color: #ccc;
      margin-top: 0;
      margin-bottom: 20px;
      }
      
  .sidebar a {
    color: #fff;
    display: inline-block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition:0.5s;
    transition-property: background;
  }
  
  .sidebar li:hover {
  background: #19b3d3;
  }
  
  .sidebar i {
  padding-right: 10px;
  }
    
  /* 
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
  
  /* .sidebar a:hover {
    color: #f1f1f1;
  } */
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidebar .profile_image{
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin-bottom: 10px;
      }
  
  .nav_links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: px;
    
  }
  
  .nav_links li a{
    padding-left: 15px;
  }
  
  .nav_links li img{
    height: 15px; 
    margin-left: 20px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    /* padding: 10px 15px; */
    border: none;
    margin-top : 30px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    margin-top: 70px;
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* button {   
    background-color:#0A2239 ;   
    width: 60%; 
    height: 60px; 

      color:white;   
      padding: 15px;   
      /* margin: 15px 20px;   
      border: none;   
      cursor: pointer;  
      border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 250px;
    margin-top: 50px;


        } 
  
  #page{
    display: flex;
  }

  #page_head{
    /* padding-bottom: 30px;
    height: 35%;
    background-image: url("cleaners.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    margin: 0; 
  }

  h2{
    font-size: 2rem; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    color: #1DC4E7;
    /* text-shadow:0px 0px 1px #0A2239; 
  }
  
  #head{
    color: #0A2239;
  }

  #top_nav{
    padding: 0;
    background-color: #0A2239;
    display: flex;
    flex-direction: row;
    /* margin-left: px; 
    width: 100%;
    /* text-align: center; 
    justify-content: space-between;
    align-items: center;
    
  }
  
#top_nav #nav_icon{
  float: left;
  width: 20px;
  padding-top: 10px;
}

#top_nav #user_icon{
  float: right;
  width: 30px;
  height: 40px;
  border-radius: 2000px;
  /* margin-bottom: 0px; */
  /* padding: 10px 0; 
}

.nav_links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: px;
  
}

.nav_links li a{
  padding-left: 15px;
}

.nav_links li img{
  height: 15px; 
  margin-left: 20px;
}

  
.left-area h3 {
  padding-left:20px ;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  }
  
  .left-area span{
  color: #1DC4E7;
  }

  .right-area{
    margin-right: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar{
    background: #0f3457;
    /* margin-top: 13px; 
    padding-top: 30px;
    left: 0;
    flex-shrink: 0;
    width: 215px;
    transition-property: left;
    /* border: 3px solid greenyellow; 
    }
    
    .sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    }
    
    .sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    }
    
    .sidebar a {
    color: #fff;
    display: inline-block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition:0.5s;
    transition-property: background;
    }
    
    .sidebar a:hover {
    background: #19b3d3;
    }
    
    .sidebar i {
    padding-right: 10px;
    }
  

.logout_btn {
  padding: 5px;
  /* padding-top: ; 
  background: #19b3d3;
  text-decoration: none;
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  /* margin-right: 120px; 
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  }
  
  .logout_btn:hover {
  background: #0d9dbb;
  }


  main{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #content{
    padding: 1px 16px;
    height: 1000px;
    
} */
  
  #cleaners{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    /* border-collapse: collapse; */
  }

  /* #cleaners td, #cleaners th{
    border: 1px solid #0A2239;
    padding: 8px;
  }

  #cleaners th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0A2239;
    color: white;
  } */